p {
    font-size: 25px;
}

body {
    font-family: Arial, sans-serif;
}

h1 span, h2 span {
    color: rgb(90, 10, 147);
}

h1 span {
    color: rgb(6, 143, 106);
}

p, li{
    font-size: 25px;
    font-style: italic;
}

table {
    font-size: 25px;
    width: 100%;
    border-collapse: collapse
}

th {
    border: 1px solid black;
}

td {
    border: 1px solid black;
}
